@media (max-width:1000px) {
    .container{
        max-width: 800px;
        margin: 0% auto;
    }
    *{
        font-size: 9px;
    }
    /* header nav{
        display: flex;
        max-width: 1000px;
    } */
}